.markdown-body pre {
  font-size: 100%;
  background-color: none;
  padding: 10px;
}

.markdown-body table {
  color: whitesmoke;
  border-radius: 8px;
}

.prism-code {
  background-color: transparent;
  padding: 0;
  margin-bottom: 4px;
}

/* Add this to your index.css file */
.code-block-wrapper {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 4px 8px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  opacity: 1;
  transition: opacity 0.2s;
}

.copy-button:active {
  background-color: #777;
}

pre:has(> .mermaid) {
  background-color: white;
}
